aws/step-functions/hhvm-build-and-publish.json
{
  "StartAt": "Get Version Number For Build",
  "States": {
    "Get Version Number For Build": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-get-build-version",
      "Next": "Start Build"
    },
    "Start Build": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-start-single-build",
      "Next": "Initial Wait For Builds"
    },
    "Initial Wait For Builds": {
      "Type": "Wait",
      "Seconds": 1800,
      "Next": "Fetch Build States"
    },
    "Wait Longer For Builds": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Fetch Build States"
    },
    "Fetch Build States": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:get-state-machine-executions-state",
      "Next": "Builds Finished?"
    },
    "Builds Finished?": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.allStepFunctionExecutionsFinished",
        "BooleanEquals": false,
        "Next": "Wait Longer For Builds"
      }],
      "Default": "Publish Release"
    },
    "Publish Release": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:stateMachine:hhvm-publish-single-release",
      "End": true
    }
  }
}
