aws/step-functions/hhvm-publish-release.json
{
  "StartAt": "Get Version Number For Build",
  "States": {
    "Get Version Number For Build": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-get-build-version",
      "Next": "Start Repository Update"
    },
    "Start Repository Update": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-update-repositories",
      "Next": "Wait For Repositories Worker"
    },
    "Wait For Repositories Worker": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Fetch Repository Worker State"
    },
    "Fetch Repository Worker State": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:223121549624:function:get-instances-state",
      "Next": "Repositories Update Finished?"
    },
    "Repositories Update Finished?": {
      "Type": "Choice",
      "Choices": [{
        "Variable": "$.allInstancesFinished",
        "BooleanEquals": false,
        "Next": "Wait For Repositories Worker"
      }],
      "Default": "Update dl.hhvm.com"
    },
    "Update dl.hhvm.com": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Publish Release Source",
          "States": {
            "Publish Release Source" : {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-publish-release-source",
              "Next": "Set dl.hhvm.com Configuration"
            },
            "Set dl.hhvm.com Configuration": {
              "Type": "Pass",
              "Result": {
                "bucket": "hhvm-downloads",
                "cloudfront": "E35YBTV6QCR5BA"
              },
              "Next": "Update dl.hhvm.com Indices"
            },
            "Update dl.hhvm.com Indices": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:223121549624:function:create-s3-index-html",
              "End": true
            }
          }
        },
        {
          "StartAt": "Invalidate Repository Metadata",
          "States": {
            "Invalidate Repository Metadata": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:223121549624:function:hhvm-invalidate-repository-metadata-on-cloudfront",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
